{% extends "app/logged.html" %}

{% block content %}

<h1>Zaleak</h1>

<form method="post">
  {% csrf_token %}
  <label for="filma_id">Aukeratu zure gogoko filmak:</label>
  <select name="filma_id" id="filma_id">
    {% for filma in filmak %}
      <option value="{{ filma.id }}">{{ filma.izenburua }}</option>
    {% endfor %}
  </select>
  <button type="submit">Bilatu</button>
</form>

{% if bozkak %}
  <ul>
    {% for user in bozkak %}
      <li>{{ user }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% for message in messages %}
<div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert">
  {{ message }}
</div>
{% endfor %}

<a href="{% url 'logged' %}">Atzera</a>

{% endblock %}
